<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Table data:</h1>
    {% if students %}
     <table>
     <thead>
       <tr>
       <th>id</th>
       <th>name</th>
       <th>age</th>
       <th>city</th>
       </tr>
       </thead>
       <tbody>
       {% for s in students %}
          <tr>
          <td>{{s.id}}</td>
          <td>{{s.name}}</td>
          <td>{{s.age}}</td>
          <td>{{s.city}}</td>
          </tr>
        {% endfor %}
        </tbody>
     </table>
     {% else %}
     <p> no student data found </p>
     {% endif %}
</body>
</html>