body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    background : #1f1c1c;
    padding: 10px;
}

nav ul li {
    color: white;
    text-decoration: none;
}

h1 {
    color: #a258eb;
}