<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template basics</title>
</head>
<body>
    <h1> template basics </h1>
    {% comment %} i am writing a comment right now and 
    this is multiline also  {% endcomment %}
    <p> hi!, i'm learning tempaltes basics #1. </p>
    <p> this is the simple template to demonstrate basic html structure  </p>
    <p> name : {{name}} </p>
    <p> age : {{age}} </p>
</body>
</html>